<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>error page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body class="flex items-center justify-center h-screen bg-gradient-to-r from-yellow-300 to-yellow-400">

  <div id='oopss' class="text-center flex flex-col items-center justify-start">
    <div id='error-text' class="text-black font-sans text-center flex flex-col justify-center items-center">
        <div><img src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404" class="h-80"></div>
        <span class="text-4xl font-extrabold mb-12">404 Error</span>
        <p class="text-lg mb-6">
           Something Went Wrong. Request you to retry the process
        </p>
        <a href='/profile' class="bg-white text-black text-xl font-extrabold py-2 px-8 rounded-full shadow-md transition-transform transform hover:-translate-y-3">
            ... Back to your profile
        </a>
    </div>
  </div>

</body>
</html>
